node_modules
dist
.git
.gitignore
.env
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
README.md
test
coverage
.prettierrc
eslint.config.mjs
api_samples.md
